@model (string Title, decimal Value)
<div class="col">
    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="display-6">@Model.Value</p>
        </div>
    </div>
</div>
